.header{
    width: 100%;
    padding-top: 46px;
    &__container{
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    &__language{
        display: flex;
        gap: 10px;
        color: #E0E1E3;
     
font-size: 20px;
font-weight: 400;


    }
}