.welcome{
    width: 100%;
    background: url(/assets/img/Group.png) no-repeat center center;
    height: 1000px;
   padding-top: 150px;
   @include xxxl{
      height: 600px;
      padding-top: 100px;
   }
   @include md{
      height: 450px;
   }

   &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   &__descript{
    position: relative;
    margin: 0;
    padding: 0;
    &-image{
      width: 100%;
    }
    &-img{
        position: absolute;
        left: -100px;
      @include xxxl{
         position: none;
      }
    }
    &-text{
       margin: 0;
       padding: 0;

font-size: 30px;
font-weight: 400;
line-height: 1.5;
@include xxxl{
   font-size: 20px;
}
@include md{
   font-size: 15px;
}
    }
   &-span{
   
font-size: 95px;
font-weight: 600;
color: #B21414;
margin: 0;
padding: 0;
@include xxxl{
   font-size: 60px;
}
@include md{
   font-size: 35px;
}

   }
   &-title{
color: #E0E1E3;
font-size: 140px;
font-weight: 600;
margin: 0;
padding: 0;
@include xxxl{
   font-size: 80px;
}
@include md{
   font-size: 50px;
}


   }




   }
}